doctype html
html(lang="es")
	head
		title Personal Bookmarks
		meta(charset="UTF-8")
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(href='https://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css')
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	
	body

		header
			nav
				ul.snip1189
					li
						a(href="/index.html") Index	
					li.current
						a(href="#") Bookmarks

			h1 Listado de sitios de interes

		div#bookmarks
			
			h2 CSS
			ul.bookmarks
				li: a(href="https://css-tricks.com/design-considerations-text-images/")	Design Considerations: Text on Images
				li: a(href="http://templated.co/")	Templated.co (css and html)
				li: a(href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/") A complete guide to flexbox
				li: a(href="http://littlesnippets.net/some-inspiration-for-menus-using-animated-lines/") Some CSS Menu Inspiration using Animated Lines
				li: a(href="http://codepen.io/eehayman/pen/NGQdod") Custom Dropdown
				li: a(href="")
				li: a(href="")
				li: a(href="")